<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>지하철 창업 가즈아</title>
</head>
<body>
     <h1>어디에다가</h1>
     <form action="predict" method="POST">
        <table width ='500' border='1'>
            <td>지하철</td>
            <td><input type="text", name='station'></td>
             <tr>
                <td colspan="2">
                    <input type="submit" value="입력">
                </td>
            </tr>
        </table>
     </form>
</body>
</html>